<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros aprendiendo GRID</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <!-- <main class="grid-layout">
        <section class="grid-item">
            <p>lorem</p>            
        </section>
        <section class="grid-item">
            <p>lorem</p>            
        </section>
        <section class="grid-item">
            <p>lorem</p>            
        </section>
        <section class="grid-item">
            <p>lorem</p>            
        </section>
    </main> -->
    <main class="grid-area">
        <img src="../img/logo2.svg" alt="">
    </main>
</body>
</html>